@import "./variable";

$avaterArr: (
	(name:small, size:$avaterS),
	(name:middle, size:$avaterM),
	(name:large, size:$avaterL)
);

@for $i from 1 through length($avaterArr) {
	$item: nth($avaterArr, $i);

	.chat-avater-#{map-get($item,name)} {
		width: map-get($item, size);
		height: map-get($item, size);
	}
}
